---
http_interactions:
- request:
    method: get
    uri: https://api.nike.com/v1/me/sport/activities?access_token=foobar&count=999
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"links":[{"rel":"self","href":"https://api.nike.com/v1/me/sport/activities/3198000000000671826980007382618856048442"}],"activityId":"3198000000000671826980007382618856048442","activityType":"RUN","startTime":"2015-01-01T13:43:29Z","activityTimeZone":"Europe/Paris","status":"COMPLETE","deviceType":"IPHONE","metricSummary":{"calories":"353","fuel":"1453","distance":"5.584712505340576","steps":"0","duration":"0:32:05.321"},"tags":[{"tagType":"WEATHER","tagValue":"SUNNY"},{"tagType":"LOCATION","tagValue":"OUTDOORS"}],"metrics":[]},{"links":[{"rel":"self","href":"https://api.nike.com/v1/me/sport/activities/a66d97ce-52b2-404a-9b93-4b134d4ea673"}],"activityId":"a66d97ce-52b2-404a-9b93-4b134d4ea673","activityType":"ALL_DAY","startTime":"2014-12-31T23:00:00Z","activityTimeZone":"Europe/Paris","status":"IN_PROGRESS","deviceType":"IPHONE","metricSummary":{"calories":"0","fuel":"1453","distance":"0.0","steps":"0","duration":"0:00:00.000"},"tags":[],"metrics":[]},{"links":[{"rel":"self","href":"https://api.nike.com/v1/me/sport[...]
