---
http_interactions:
- request:
    method: get
    uri: https://api.nike.com/v1/me/sport/activities/6tKZ3F5xCEefnO7cHGOeE5f3ALnu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"fault":{"faultstring":"Failed to resolve API Key variable local_clientid","detail":{"errorcode":"steps.oauth.v2.FailedToResolveAPIKey"}}}'
  recorded_at: Mon, 12 Jan 2015 13:30:36 GMT
recorded_with: VCR 2.8.0
