---
http_interactions:
- request:
    method: get
    uri: https://api.nike.com/v1/me/sport/activities/1456000000012581358940004583592943423568?access_token=6tKZ3F5xCEefnO7cHGOeE5f3ALnu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: ''
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Error-Uid:
      - ed5fde2a-8187-4959-a8f3-ebe409d7dfdf
    body:
      encoding: UTF-8
      string: '{"error_id":"ed5fde2a-8187-4959-a8f3-ebe409d7dfdf","errors":[{"code":290,"message":"Activity
        was not found or you do not have permissions to view it"}]}'
  recorded_at: Mon, 12 Jan 2015 13:32:57 GMT
recorded_with: VCR 2.8.0
