---
http_interactions:
- request:
    method: post
    uri: https://developer.nike.com/services/login
    body:
      encoding: US-ASCII
      string: username=foo%40bar.com&password=foobar
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"thetoken","expires_in":"3600","profile_img_url":"","token_type":"bearer"}'
  recorded_at: Thu, 08 Jan 2015 22:14:17 GMT
recorded_with: VCR 2.8.0
